.App {
  display: flex;
  flex-direction: column; /* 자식 요소들을 수직으로 배치 */
  justify-content: center; /* 수직 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 (선택 사항) */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.modal{
  text-align: left;
  background-color: antiquewhite;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 15px;
}

div{
  box-sizing: border-box
}

#settingBox{
  width: 200px;
}

.list{
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.innerList{
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid grey;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.black-nav{
  background: black;
  color: white;
  display: flex;
  width: 100%;
  padding: 20px;
  text-align: left;
}

.groupbox{
  display: flex; /* flexobox 사용 */
  justify-content: space-between; /* 엘리먼트 간 공간 양쪽 분배 */
  align-items: center; /* 세로 중앙 정렬 */
}

.groupbox > div{
  margin: 0 30px;
}
.textbox{
  display: inline-block;
  justify-content: left;
  align-items: left;
  text-align: left;
}

.deletebox{
  display: inline-block;
  position: right;
  margin: 20px 0px 20px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#date{
  font-size: 10px;
  margin: 5px 0px;
  font-weight: 500;
  color: grey;
}

button{
  cursor: pointer;
  background-color: white;
  color: black;
  border-color: orangered;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 12px;
  text-align: center;
}

button:hover{
  background-color: orangered;
  color: antiquewhite;
}

input.title{
  margin: 0px 10px;
  width: 300px;
  height: 25px;
  border: none;
  background-color: lightsalmon;
  border-radius: 10px;
  text-align: center;
}

input.profile{
  margin: 0px 10px;
  width: 200px;
  height: 25px;
  border: none;
  background-color: lightsalmon;
  border-radius: 10px;
  text-align: center;
}

.mg{
  margin: 20px 0px;
}